.profile__avatar-edit {
    position: relative;
}

.profile__avatar-edit:hover::before {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    content: "";
    position: absolute;
    background-image: url(../../../images/editAvatar.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.6s;
    cursor: pointer;
}