.popup__container {
  width: 430px;
  height: 330px;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 34px 36px 37px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (max-width: 984px) {
  .popup__container {
    max-width: 282px;
    max-height: 322px;
    padding: 25px 22px;
  }
}
