.header {
  margin: 0 auto;
  width: 880px;
  padding-bottom: 41px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 984px) {
  .header {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding-bottom: 31.6px;
    width: 100%;
  }
}
