.header {
  margin: 0 auto;
  width: 880px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 984px) {
  .header {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding-bottom: 32px;
    width: 100%;
  }
}
