.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-column-gap: 17px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 984px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
  }
}
