.popup__field-error {
    width: 358px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    padding-top: 5px;
    height: 22px;
    display: block;
}

@media screen and (max-width: 984px) {
    .popup__field-error {
        width: 238px;
    }
}