.popup__field {
  margin: 0;
  border: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .popup__field{
    /*padding: 28px 0 11px;*/
  }
}

/*.popup__field:invalid {*/
/*  border-bottom: 1px solid red;*/
/*}*/
